<a href="https://colab.research.google.com/github/kim-juhyeon/coding-Practice/blob/main/%EC%9D%B4%EC%BD%94%ED%85%8C_p_180%2C182%2C359.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# p.180 성적이 낮은 순서로 학생 출력하기 

# n을 입력받기
n = int(input())

# N명의 학생 정보를 입력받아 리스트에 저장
array = []
for i in range(n):
  input_data = input().split() # split()- 공백의 개수와 상관없이 한개의 공백으로 간주 / split('') 공백의 개수만큼 공백으로 간주
  # 입력은 문자열 그대로, 점수는 정수형으로 변환하여 저장
  array.append((input_data[0], int(input_data[1])))

# 키(key)를 이용하여 점수를 기준으로 정렬
# 어떤 기준으로 정렬할건지 정해주는 파라미터
array = sorted(array, key=lambda student: student[1])

# 정렬이 수행된 결과를 출력
for student in array:
  print(student[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

In [ ]:
# p.182 두 배열의 원소 교체

n,k = map(int, input().split())     # n 과 k 를 입력받기
a = list(map(int, input().split())) # 배열 A의 모든 원소를 입력받기
b = list(map(int, input().split())) # 배열 B의 모든 원소를 입력받기

a.sort() # 배열 A는 오름차순 정렬 수행
b.sort(reverse=True) # 배열 B는 내림차순 정렬 수행

# 첫 번째 인텍스부터 확인하며, 두 배열의 원소를 최대 K번 비교
for i in range(k):
  # A의 원소가 B의 원소보다 작은 경우
  if a[i] < b[i]:
    # 두 원소를 교체
    a[i], b[i] = b[i], a[i]
  else:   # A의 원소가 B의 원소보다 크거나 같을 때, 반복문을 탈출
    break

print(sum(a))

5  3
1 2 5 4 3
5 5 6 6 6
27

In [ ]:
n = int(input())
students = [] # 학생 정보를 담을 리스트

# 모든 학생 정보를 입력받기
for _ in range(n):
  students.append(input().split())

'''
[정렬 기준]
1) 두 번째 원소를 기준으로 내림차순 정렬
2) 두 번째 원소가 같은 경우, 세 번째 원소를 기준으로 오름차순 정렬
3) 세 번째 원소가 같은 경우, 네 번째 원소를 기준으로 내림차순 정렬
4) 네 번째 원소가 같은 경우, 첫 번째 원소를 기준으로 오름차순 정렬
'''

students.sort(key=lambda x: (-int(x[1]), int(x[2]),-int(x[3]),x[0]))

# 정렬된 학생 정보에서 이름만 출력
for student in students:
  print(student[0])

12
Junkyu 50 60 100
Sangkeun 80 60 50
Sunyoung 80 70 100
Soong 50 60 90
Haebin 50 60 100
Kangsoo 60 80 100
Donghyuk 80 60 100
Sei 70 70 70
Wonseob 70 70 90
Sanghyun 70 70 80
nsj 80 80 80
Taewhan 50 60 90
Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan