<a href="https://colab.research.google.com/github/kim-juhyeon/coding-Practice/blob/main/%EC%A0%95%EB%A0%ACipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##선택정렬

In [ ]:
array = [7,5,9,0,3,1,6,2,4,8] # [0,5,9,7,3,1,6,2,4,8]
for i in range(len(array)):   # 0,9
    min_index = i  # 0,1,3
    for j in range(i+1,len(array)): # 1,10 j=3
        if array[min_index] > array[j]: #  7>5 , 5>9 , 5>0, 0>3
            min_index = j #    j = 1,3             
    # 7,0 = 0,7
    array[i], array[min_index] = array[min_index], array[i] 
 
print(array)  #스와프는 임시변수를 만들지 않아도  되는 장점이 있음.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#삽입 정렬

In [ ]:
array = [7,5,9,0,3,1,6,4,2,8] # 0~9
#5,7,9,0,3,1,6,4,2,8 -> 5,7,0,9,3 -> 5,0,7,9,3 -> 0,5,7,9,3 -> 0,5,7,3,9 ->
# 0~9
for i in range(1,len(array)): # 1,10 i =1,2,3 
#1,(2,1),(3,2,1),4,3,2,1
  for j in range(1,0,-1): (3,0,-1) <- j=1,2,(3,2,1),(4,3
    if array[j] < array[j-1]: #5<7 ,9<7,0<9,0<7,0<5,3<9 , 3<7
      array[j], array[j-1] = array[j-1],array[j] 

    else:
      break


print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

for i in range(10,0,-2): 
  print(i)

10
8
6
4
2

#퀵 정렬

In [ ]:
array = [7,5,9,0,3,1,6,4,2,8] # 7,2,9,0,3,1,6,4,5,8

def quick_sort(array,start,end):  # strat = 0 , 8
  if start>=end: # 0>=8
    return

  pivot = start # 기준점 = 0
  left = start + 1 # 1,2
  right = end # end = 8,7

  while left <= right: # 1<=8  2<=8

    while left <= end and array[left] <= array[pivot]: # 9 <= 7
      left += 1

    while right > start and array[right] >= array[pivot]: # 8 >= 7 , 2>=7
      right -= 1

    if left > right: # 2>7
      array[right],array[pivot] = array[pivot], array[right]

    else: # 5,2 = 2,5 ""3" 
      array[left], array[right] = array[right], array[left]

  quick_sort(array,start,right-1)
  quick_sort(array,right+1,end)

quick_sort(array,0,len(array)-1)
print(array)

In [ ]:
array = [7,5,9,0,3,1,6,4,2,8]

def quick_sort(array):

  if len(array) <= 1:
    return array

  pivot =array[0]
  tail  = array[1:]

  left_side = [x for x in tail if x <= pivot]
  right_side =[x for x in tail if x > pivot]

  return quick_sort(left_side) + [pivot] + quick_sort(right_side)


print(quick_sort(array))

#계수 정렬 알고리즘

In [ ]:
array = [7,5,9,0,3,1,6,2,9,1,4,8,0,5,2]

count = [0] * (max(array)+1)

for i in range(len(array)):
  count[array[i]] += 1

for i in range(len(count)):
  for j in range(count[i]):
    print(i,end=' ')

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

In [ ]:
array = [1,2,3,4,5,6]

for i in range(1,len(array)): # 1~4 -> i=1,2,3
  for j in range(i,0,-1):#1,2~1(2,1),3~1(3,2,1)
    print(j) #

1
2
1
3
2
1
4
3
2
1
5
4
3
2
1

In [ ]:
array = [1,2,3,4]

for i in range(1,len(array)):
  for j in range(i,0,-1):
    print(j)

4

In [ ]:
array = [7,5,9,0,3,1,6,2,4,8] 
for i in range(len(array)):
  print(i)

0
1
2
3
4
5
6
7
8
9

# 위에서 아래로

In [ ]:
n = int(input())
array=[]
for i in range(n):
    array.append(int(input()))
arr2 = array.sorted(reverse=True)
for i in arr2:
    print(i,end=" ") # a2 = a1.sort()

3
1
2
3

AttributeError: ignored

## 성적이 낮은 순서로 학생 출력하기
- N명의 학생 정보가 있다. 학생 정보는 학생의 이름과 학생의 성적으로 구분된다.
> 첫 번째 줄에 학생의 수 N이 입력된다.
>> 두 번째 줄부터 N+1번째 줄에는 학생의 이름을 나타내는 문자열 A와 학생의 성적을 나타내는 정수 B가 공백으로 구분되어 입력된다. 문자열 A의 길이와 학생의 성적은 100이하의 자연수이다.

In [ ]:
N = int(input()) #2

array = [] # 0:홍길동, 95   1: 이순신 , 77

for i in range(N): # 0,1
    input_data = input().split() #
    array.append((input_data[0], int(input_data[1])))


array = sorted(array, key=lambda x: x[1]) #array[x] <- (0=홍길동,1=95)
b = []
for i in array:
  b.append(i)
for b in array:
    print(b[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

## 두 배열의 원소 교체
- 동빈이는 두개의 배열 A 와 B를 가지고 있다. 두 배열은 N개의 원소로 구성되어 있다.(배열 = 자연수)
<br> 동빈이는 최대 K번의 바꿔치기 연산을 수행 할 수 있다. 바꿔치기 연산이란, 배열 A에 있는 원소 하나와 배열 B에 있는 <br>
원소 하나를 골라서  두 원소를 서로 바꾸는 것을 한다. </br>
> 원소교체를 K만큼 해서 배열의 해당하는 원소의 최대합을 구해라~

In [ ]:
n,k = map(int,input().split()) # 5 3

a = list(map(int,input().split())) # 1 2 5 4 3 = 
b = list(map(int,input().split())) # 5 5 6 6 5  = 

a.sort() # 9 9 9 9 9
b.sort(reverse=True) # 6 6 5 5 5

for i in range(k): # k=3 
  if a[i] < b[i]: # a[0] 1 < b[0] 6 a[1] 2 < 6
    a[i],b[i] = b[i],a[i] # a[0],b[0] <-> b[0]a[0]
  else:
    break
print(sum(a))

5 3
9 9 9 9 9
6 6 5 5 5
45

In [ ]:
n = int(input()) # 6
students = [] # 학생 정보를 담을 리스트

# 모든 학생 정보를 입력받기
for _ in range(n) : #6
	students.append(input().split()) 
 # 1. 성아 100 90 70
 # 2. 아람 100 100 20
 # 3. 동린 70 40 100
 # 4. 주현 100 100 100
 # 5. 익한 90 90 90
 # 6. 은경 60 90 60

# -> 아람,주현,성아 -> 아람,성아,주현 
# -> 1. student= [아람,성아,주현,익한,동린,은경]
'''
정렬기준
1) 두번째 원소를 기준으로 내림차순 
2) 두번재 원소가 같은 경우, 세번째 원소를 기준으로 오름차순 정렬
3) 세번째 원소가 같은 경우, 네번째 원소를 기준으로 내림차순 정렬
4) 네번째 원소가 같은 경우, 첫번째 원소를 기준으로 오름차순
'''

# 조건에 맞게 정렬하기
students.sort(key=lambda x: (-int(x[1]), int(x[2]), -int(x[3]), x[0]))
# 1,2,3,4,5,성아,아람,주현 :int1: -100, -100, -100 int2: 100,100,90 int3: -20,-100,-70
# int2 : 90(성아) 100(주현) 100(아람), Int3: -100(주현),-70(성아),-20(아람)
# -> 성아,주현,아람
# 정렬된 학생 정보에서 이름만 출력
for student in students :
	print(student[0])

6
성아 100 90 70
아람 100 100 20
동린 70 40 100
주현 100 100 100
익한 90 90 90
은경 60 90 60
성아
주현
아람
익한
동린
은경